@font-face {
    font-family: SBSansText, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #848484;
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

body {
    background-color: #E0E4EA;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color: #7239EA;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.header-menu__title-logo-container {
    padding-left: 10px;
    display: flex;
}

.header-menu__title {
    padding: 0 18px 0 38px;
    color: white;  
}

.header-menu__title-item {
    font-weight: 900;
    font-size: 32px;
}

.header-menu__notification-user-logout-container {
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.header-menu__notification {
    position: relative;
    padding-right: 10px;
}

.header-menu__notification-count {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px;
}

.header-menu__notification-page {
    display: none;
    position: absolute;
    top: 50px;
    right: 184px;
    width: 180px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1001;
    overflow-y: auto;
}

.header-menu__notification-page-title {
    position: fixed;
    width: 162px;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    background-color: #E0E4EA;
    color: black;
    border-radius: 5px 0px 0px 0px;
    padding: 9px;
    z-index: 99;
}

.header-menu__notification-page-messages {
    margin-top: 44px;
}

.header-menu__notification-page-sms {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-menu__notification-page-sms h3 {
    font-size: 16px;
    font-size: 12px;
    color: #333;
    text-align: center;
}

.header-menu__notification-page-message {
    font-size: 12px;
    margin-top: 5px;
    color: #333;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    border-bottom: solid #848484 1px;
}

.header-menu__user {
    padding-right: 5px;
}

.header-menu__burger {
    display: none;
}

.header-menu__notification-item,
.header-menu__user-item, 
.header-menu__logout-item {
    padding: 5px;
}

.header-menu__user-item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.header-menu__notification-item:hover,
.header-menu__logout-item:hover {
    background-color: #966BEF;
    border-radius: 10px;
}

/* /Header */

/* Navbar */
.navbar {
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100% - 80px);
    width: 270px;
    background-color: #7239EA;
    z-index: 1000;
}

.nav-menu__items {
    padding: 40px 40px 0 30px;
    list-style: none;
}

.nav-menu__item {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

.nav-menu__item-container {
    display: flex;
    padding: 8px 10px;
}

.nav-menu__item-title {
    color: white;
    padding-top: 2px;
}

.nav-menu__item-img {
    padding-right: 10px;
}

.nav-menu__item-container:hover {
    background-color: #966BEF;
    border-radius: 10px;
}

.nav-menu__item-container--active {
    background-color: #966BEF;
    border-radius: 10px;
}
/* /Navbar */

.main-section {
    margin-left: 270px;
    padding: 6.875rem 2.5rem;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {

    .header-menu__notification-page {
        right: 170px;
    }

    .header-menu__notification-item:hover,
    .header-menu__user-item:hover,
    .header-menu__logout-item:hover {
        background-color: initial;
    }

    .header-menu__title {
        padding: 0px;
        padding-left: 20px;
    }

    .header-menu__notification-user-logout-container {
        padding-right: 20px;
    }

    .header-menu__logout {
        display: none;
    }

    .header-menu__title-item {
        font-size: 24px;
    }

    .navbar {
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
    }

    .navbar.open {
        transform: translateX(0);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        display: none;
        z-index: 999;
    }

    .overlay.active {
        display: block;
    }

    .header-menu__burger {
        display: block;
        cursor: pointer;
    }
    
    .header-menu__burger div {
        height: 3px;
        width: 25px;
        background-color: white;
        margin: 5px;
        transition: transform 0.5s linear;
    }
    
    .toggle .line-1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line-2 {
        transform: rotate(-45deg) translate(-5px, 6px);
        opacity: 0;
    }
    
    .toggle .line-3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


/* Mobil qurilmalar uchun */
@media (max-width: 768px) {
    
    .main-section {
        margin-left: 0px;
        padding: 100px 20px;
        padding-bottom: 20px;
    }

    .view-test__main-section {
        padding: 100px 20px;
        padding-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
    }

  }
  
  /* Planshetlar uchun */
  @media (min-width: 767px) and (max-width: 1024px) {

    .main-section {
        margin-left: 0px;
        padding: 100px 20px;
    }
  }
