{% extends 'app/base.html' %}
{% load static %}

<!-- ===============================================-->
<!-- Title -->
<!-- ===============================================-->

{% block title %}
    List
{% endblock %}

<!-- ===============================================-->
<!-- Header -->
<!-- ===============================================-->

{% block content %}

<section class="main-section">
        <div class="search-container">
            <form class="search" method="GET">
                <input type="text" name="test_ids" value="{{ test_id_query }}" placeholder="ID kiriting">
                <button type="submit">Qidiruv</button>
            </form>
        </div>
        {% for test in tests %}
        <div class="search-test-card">Qidiruv natijasi:</div>
        <a class="search-test-card-item" href="#" onclick="openModal()">
            <div class="top-items">
                <div class="search-test-card-id">{{ test.test_ids }}</div>
            <div class="search-test-card-title">{{ test.title }}</div>
            </div>
            <div class="buttom-items">
                <div class="search-test-card-count">Testlar soni: {{ test.test_count }}</div>
                <div class="search-test-card-time">Berilgan vaqt: {{ test.duration }} minut</div>
                <div class="search-test-card-deadline">Deadline: {{ test.days_until_deadline }} kun </div>
            </div>
        </a>
        {% endfor %}

        {% for category in categories %}
        <div class="addition-test">
            <div class="addition-test-title">
                {{ category.name }}{{ category.count }}:
            </div>
            <div class="addition-test-container">
                {% for test in category.tests.all %}
                    {% if test.test_ids %}
                        <a href="{% url 'view_test' test.test_ids 1 %}" class="addition-test-cards">
                            <div class="img-container">
                                <img class="addition-test-card-img" src="{{ test.image_card.url }}">
                            </div>
                            <div class="addition-test-card-title">{{ test.title }}</div>
                            <div class="addition-test-card-count"><span>Savolar soni:</span> {{ test.test_count }}</div>
                            <div class="addition-test-card-description" id="description">
                                <button class="expand-btn" id="expandBtn"><img class="expand-btn-icon" src="{% static 'app/assets/icon/Alt Arrow Down.svg' %}" alt=""></button>
                                <span>Tavsif:</span>
                                {{ test.description_card }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <!-- Modal -->
        <div class="modal" id="deleteModal">
            <div class="modal-content">
            {% for test in tests %}
                <div class="modal-title"><span>ID:</span> {{ test.test_ids }}</div>
            {% endfor %}
            <form method="POST">
            {% csrf_token %}
                <input type="text" name="test_password" placeholder="Tasdiqlash kodi">
                <button class="confirm-btn animation-button" onclick="confirmDelete()">Tasdiqlash</button>
                <button class="cancel-btn" onclick="closeModal()"><div class="close-icon"></div></button>
            </form>
            </div>
        </div>
        <!-- /Modal -->

</section>

<script src="{% static 'app/assets/js/add_test/modalActions.js' %}"></script>

<script>
    const buttons = document.querySelectorAll('.expand-btn');
    buttons.forEach((button) => {
        button.addEventListener('click', function (event) {
            event.stopPropagation();
            event.preventDefault();

            const card = button.closest('.addition-test-cards');
            const description = card.querySelector('.addition-test-card-description');

            description.classList.toggle('expanded');

            if (description.classList.contains('expanded')) {
                button.innerHTML = '<img class="expand-btn-icon" src="{% static "app/assets/icon/Alt Arrow Up.svg" %}">';
            } else {
                button.innerHTML = '<img class="expand-btn-icon" src="{% static "app/assets/icon/Alt Arrow Down.svg" %}">';
            }
        });
    });
</script>

{% endblock %}